
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <div class="container">
   <div class="quote">
     {{Text}}
   </div>

    <div class="line">
       
    </div>

    <div class="bottom">
       <div class="author">
        {{Author}}
       </div>
       <div class="icons">
       <i  (click)="random()" class='bx bx-refresh'></i>
        <i class='bx bxl-twitter' (click)="goTwitter()"></i>

       </div>

    </div>

</div>
</body>
</html>